@{
    ViewData["Title"] = "Empleados";

}

<div class="mb-3 text-end">
    <a asp-controller="Empleados" asp-action="agregarEmpleado" class="btn btn-primary">Agregar Empleado</a>
</div>

<h1>Empleados</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Cargo</th>
            <th>Departamento</th>
            <th>fechaContratacion</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var empleado in Model)
        {
            <tr>
                <td>@empleado.Id</td>
                <td>@empleado.Nombre</td>
                <td>@empleado.Cargo</td>
                <td>@empleado.Departamento</td>
                <td>@empleado.fechaContratacion</td>
            </tr>
        }
    </tbody>
</table>
